<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/demo/Health Guard/img/logo3.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="static\css\dash.css">
    <link rel="stylesheet" href="static\css\heart.css">
    <title>Heart Disease Prediction</title>
</head>

<body>
    <div class="container">
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="static\images\onlinelogomaker-022424-1502-2536.png">
                    <a href="/dashboard"><h2>Health<span class="danger">Guard</span></h2></a>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/dashboard">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/heart">
                    <span class="material-symbols-outlined">
                        cardiology
                    </span>
                    <h3>Heart</h3>
                </a>
                <a href="/diabetes">
                    <span class="material-symbols-outlined">
                        glucose
                    </span>
                    <h3>Diabetes</h3>
                </a>
                <a href="/contact">
                    <span class="material-symbols-outlined">
                        phone_in_talk
                    </span>
                    <h3>Contact us</h3>
                </a>
                    <a href="/profile">
                        <span class="material-symbols-outlined">
                            account_circle
                        </span>
                        <h3>My Profile</h3>
                </a>
                    <a href="/logout">
                        <span class="material-icons-sharp">
                            logout
                        </span>
                        <h3>Logout</h3>
                    </a>
            </div>
        </aside>
        <main>
          <h1>Diabetes Prediction</h1>
          <h3 class="info">Enter the following details to detect the risk</h3>
          <form id="diabetesform" action="/predict" method="post">
              
              
              <label for="pregnancies">Number of Pregnancies: </label>
              <input type="text" id="date" name="pregnancies" required>
              
              <label for="glucose">Glucose Level(mg/dL): </label>
              <input type="text" id="description" name="glucose" required>
              
              <label for="bp">Blood Pressure(mm Hg): </label>
              <input type="number" id="amount" name="blood-pressure" min="0" required>
              
              <label for="skin thickness">Skin Thickness(mm): </label>
              <input type="text" id="payment_method" name="skin-thickness" required>
              
              <label for="insulin">Insulin Level(mm U/ml): </label>
              <input type="text" id="supplier" name="insulin" required>
              
              <label for="bmi">Body Mass Index(BMI): </label>
              <input type="text" id="invoice_number" name="bmi">

              <label for="dbp">Diabetes Pedigree Function: </label>
              <input type="text" id="invoice_number" name="diabetes-pedigree">

              <label for="age">Age: </label>
              <input type="text" id="date" name="age" required>
              
              <input type="submit" value="Submit">
              <h1>{{pred}}</h1>
              <h1>{{feedback}}</h1>
              <h1>{{conclusion}}</h1>
              <h1>{{old_glucose}}</h1>
              <h1>{{new_glucode}}</h1>
          </form>
          
        </main>
    </div>
    <script src="static\js\dash.js"></script>
</body>
<script src="static\js\heart.js"></script> 
</html>