<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Health Guard</title>
  <link rel="shortcut icon" href="static\images\onlinelogomaker-022424-1502-2536.png">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
  <link rel="stylesheet" type="text/css" href="static\css\bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static\css\style.css">
  <script src="https://kit.fontawesome.com/a3d9d5f860.js" crossorigin="anonymous"></script>
</head>


<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <section id="banner" class="banner">
    <div class="bg-color">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
              <a class="navbar-brand" href="#"><img src="static\images\logo 2.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#banner">Home</a></li>
                <li class=""><a href="#service">Services</a></li>
                <li class=""><a href="#cta-2">About</a></li>
                <!-- <li class=""><a href="#testimonial">Testimonial</a></li> -->
                <li class=""><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="banner-info">
            <div class="banner-logo text-center">
              <img src="static\images\logo 2.png" class="img-responsive">
            </div>
            <div class="banner-text text-center">
              <h1 class="white">Healthcare at your desk!!</h1>
              <p>With Health Guard, use our advanced ML algorithms to predict the chance <br>of contracting Heart Disease and Diabetes.</p>
              <a href="/signup" class="btn btn-appoint">Register/Login</a>
            </div>
            <div class="overlay-detail text-center">
              <a href="#service"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="service" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h2 class="ser-title">Our Services</h2>
          <hr class="botm-line">
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-stethoscope"></i>
            </div>
            <div class="icon-info">
              <h4>Heart Disease Prediction</h4>
              <p>Using our ML algorithm, accurately predict the probability of contracting Heart Disease.</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa-brands fa-nutritionix"></i>
            </div>
            <div class="icon-info">
              <h4>Nutrition recommendation.</h4>
              <p>Based on your current health condition, generate nutrition recommendation to improve your health.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa-solid fa-pump-medical"></i>
            </div>
            <div class="icon-info">
              <h4>Diabetes Disease Prediction</h4>
              <p>Using our ML algorithms, predict the probability of contracting Diabetes.</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa-solid fa-notes-medical"></i>
            </div>
            <div class="icon-info">
              <h4>Result-tracking</h4>
              <p>Keep track of your progress to measure your health improvement.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 
  <section id="cta-2" class="section-padding">
    <div class="container">
      <div class=" row">
        <div class="col-md-2"></div>
        <div class="text-right-md col-md-4 col-sm-4">
          <h2 class="section-title white lg-line">« A few words<br> about us »</h2>
        </div>
        <div class="col-md-4 col-sm-5">
          Welcome to Health Guard! We're a team of four dedicated individuals who developed this website to provide you with valuable medical resources and information. With our expertise in web development, design, and healthcare, we aim to offer a seamless and user-friendly experience. Thank you for choosing Medilab—we're here to support you on your health journey!
          <p class="text-right text-primary"><i>— Health Guard</i></p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </section>

  
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Contact us</h2>
          <hr class="botm-line">
        </div>
        <div class="col-md-4 col-sm-4">
          <h3>Contact Info</h3>
          <div class="space"></div>
          <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>Santhom Hostel<br> Amal Jyothi College, Kanjirapally</p>
          <div class="space"></div>
          <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>info@healthguard.com</p>
          <div class="space"></div>
          <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+91 75599 11287</p>
        </div>
        <div class="col-md-8 col-sm-8 marb20">
          <div class="contact-info">
            <h3 class="cnt-ttl">Having Any Query! Or Book an appointment</h3>
            <div class="space"></div>
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>

              <div class="form-action">
                <button type="submit" class="btn btn-form">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <script src="static\js\jquery.min.js"></script>
  <script src="static\js\jquery.easing.min.js"></script>
  <script src="static\js\bootstrap.min.js"></script>
  <script src="static\js\custom.js"></script>
  <script src="static\contactform\contactform.js"></script>

</body>

</html>